@font-face {
    font-family: 'PixelFont';
    src: url(font/slkscr.ttf) format(truetype),
         url(font/slkscrb.ttf) format(truetype),
         url(font/slkscre.ttf) format(truetype),
         url(font/slkscreb.ttf) format(truetype);
}

*{
    font-family: PixelFont, monospace, arial;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    align-items: center;
    background: url(image/skynight.jpg) no-repeat center center;
    background-size: cover;
}

.gameInfo{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
}

.GameIndex{
    background: url(image/Woodindex.jpg) center center;
    display: flex;
    border: 5px solid rgb(182, 87, 49);
    padding: 30px;
    width: 100%;
    height: 125px;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    margin-top: auto;
    background-color: rgb(194, 194, 194);
    justify-content: space-between;
}

.BtnContainer{
    display: flex;
    gap: 1px;
}

.buttons{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    padding: 20px 10px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.buttons:hover{
    color: rgb(198, 198, 198);
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.Pause{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: url(image/WoodFence.jpg) center center;
    padding: 60px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    border: 5px solid black;
    gap: 10px;
}

.pauseBtn{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border: 5px solid;
    border-radius: 10px;
    transition: background-color 0.25s;
    cursor: pointer;
}

.pauseBtn:hover{
    background-color: rgb(212, 212, 212);
}

#BtnPause{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

#BtnPause:hover{
    color: rgb(198, 198, 198);
}
