@font-face {
    font-family: 'PixelFont';
    src: url(font/slkscr.ttf) format(truetype),
         url(font/slkscrb.ttf) format(truetype),
         url(font/slkscre.ttf) format(truetype),
         url(font/slkscreb.ttf) format(truetype);
}

*{
    font-family: PixelFont, monospace, arial;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    align-items: center;
    background: url(image/skynight.jpg) no-repeat center center;
    background-size: cover;
}

.welcome{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.menu{
    background: url(image/WoodFence.jpg) center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 60px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    border: 5px solid black;
    gap: 10px;
}

.BtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.buttons{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border: 5px solid;
    border-radius: 10px;
    transition: background-color 0.25s;
    cursor: pointer;
}

.buttons:hover{
    background-color: rgb(197, 197, 197);
}
